*{
	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
						box-sizing: border-box;
}
@font-face {
    font-family: "PT Sans";
    src:url("../fonts/PTSansRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
a {
	text-decoration: none;
}
img {
	max-width:100%;
	height:auto;
}
h2 {
	color: #000000;

	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}
h3 {
	color: #000000;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}
li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
body {
	width: 100%;
	font-family: "PT Sans", sans-serif;
	padding: 0 35px;
}
header{
	position: relative;
}
.sprite {
	background-image: url(../img/icon/sprite.png);
	background-repeat: no-repeat;
	display: block;
}
.sprite-check1 {
	width: 22px;
	height: 22px;
	background-position: -7px -7px;
}
.sprite-check1-dis {
	width: 22px;
	height: 22px;
	background-position: -43px -7px;
}
.sprite-check2 {
	width: 26px;
	height: 22px;
	background-position: -79px -7px;
}
.sprite-check2-dis {
	width: 26px;
	height: 22px;
	background-position: -119px -7px;
}
.sprite-circle1 {
	width: 20px;
	height: 23px;
	background-position: -159px -7px;
}
.sprite-circle2 {
	width: 20px;
	height: 23px;
	background-position: -193px -7px;
}
.sprite-circuit {
	width: 224px;
	height: 36px;
	background-position: -7px -44px;
}
.sprite-ha {
	width: 113px;
	height: 39px;
	background-position: -7px -94px;
}
.sprite-ha-down {
	width: 113px;
	height: 39px;
	background-position: -134px -94px;
}
.sprite-ha-hvr {
	width: 113px;
	height: 39px;
	background-position: -7px -147px;
}
.sprite-icon-burger {
	width: 74px;
	height: 70px;
	background-position: -245px -7px;
}
.sprite-icon-calendar {
	width: 21px;
	height: 22px;
	background-position: -261px -91px;
}
.sprite-icon-calendar-down {
	width: 21px;
	height: 22px;
	background-position: -296px -91px;
}
.sprite-icon-calendar-hvr {
	width: 21px;
	height: 22px;
	background-position: -261px -127px;
}
.sprite-icon-gift {
	width: 64px;
	height: 76px;
	background-position: -134px -147px;
}
.sprite-icon-house {
	width: 75px;
	height: 72px;
	background-position: -212px -163px;
}
.sprite-icon-indicator1down {
	width: 11px;
	height: 10px;
	background-position: -296px -127px;
}
.sprite-icon-indicator1gr {
	width: 11px;
	height: 10px;
	background-position: -301px -151px;
}
.sprite-icon-indicator1hvr {
	width: 11px;
	height: 10px;
	background-position: -301px -175px;
}
.sprite-icon-indicator2down {
	width: 11px;
	height: 10px;
	background-position: -301px -199px;
}
.sprite-icon-indicator2gr {
	width: 11px;
	height: 10px;
	background-position: -7px -223px;
}
.sprite-icon-indicator2hvr {
	width: 11px;
	height: 10px;
	background-position: -32px -223px;
}
.sprite-icon-star {
	width: 18px;
	height: 17px;
	background-position: -57px -223px;
}
.sprite-minus {
	width: 12px;
	height: 3px;
	background-position: -89px -223px;
}
.sprite-minus-down {
	width: 12px;
	height: 3px;
	background-position: -301px -223px;
}
.sprite-minus-hvr {
	width: 12px;
	height: 3px;
	background-position: -89px -240px;
}
.sprite-plus {
	width: 11px;
	height: 11px;
	background-position: -115px -240px;
}
.sprite-plus-down {
	width: 11px;
	height: 11px;
	background-position: -140px -240px;
}
.sprite-plus-hvr {
	width: 11px;
	height: 11px;
	background-position: -165px -240px;
}
.sprite-sprite-fb {
	width: 47px;
	height: 48px;
	background-position: -190px -249px;
}
.sprite-sprite-fb-down {
	width: 47px;
	height: 48px;
	background-position: -251px -249px;
}
.sprite-sprite-fb-hvr {
	width: 47px;
	height: 48px;
	background-position: -333px -7px;
}
.sprite-sprite-tw {
	width: 46px;
	height: 48px;
	background-position: -333px -69px;
}
.sprite-sprite-tw-down {
	width: 46px;
	height: 48px;
	background-position: -326px -131px;
}
.sprite-sprite-tw-hvr {
	width: 46px;
	height: 48px;
	background-position: -327px -193px;
}
.sprite-sprite-yt {
	width: 46px;
	height: 48px;
	background-position: -7px -255px;
}
.sprite-sprite-yt-down {
	width: 46px;
	height: 48px;
	background-position: -312px -255px;
}
.sprite-sprite-yt-hvr {
	width: 46px;
	height: 48px;
	background-position: -7px -317px;
}
wrapper {
	display: block;
	width: 1200px;
	margin: 0 auto;
	align-items: center;
	box-shadow:
		10px 0 15px -10px rgba(0, 0, 0, 0.3),
		-10px 0 15px -10px rgba(0, 0, 0, 0.3);
}
.main-nav{
	width: 1200px;
	height: 55px;
	background-color: #fff;
}
.menu {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
}
.main-nav ul{
	display: flex;
	font-size: 14px;
	line-height: 30px;
	justify-content: flex-start;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	list-style-type: none;
	margin-top: 0;
}
.menu li {
	box-sizing: border-box;
	width: 240px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}
.menu li:nth-child(4n) {
	padding-right: 72px;
	text-align: right;
}
.menu li:nth-child(2){
	margin-right:240px;
}
.menu li:nth-child(6){
	margin-right:240px;
}
.menu li:nth-child(10){
	margin-right:240px;
}
.menu a {
	color: #000000;
}
.menu a:hover {
	color: #81b3d2;
}
.menu a:active {
	color: #b2b2b2;
}
.menu-active{
	color: #766357;
}
.menu-active:hover {
	color: #604e43;
}
.menu-active:active {
	color: #766357;
}
.logo{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
}
.background{
	background-image: url(../img/background.jpg);
	width: 1200px;
	height: 508px;
}
.on-background{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 75px;
	margin-bottom: 24px;
}
.after-background{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.review{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 550px;
	min-height: 100px;
	text-transform: uppercase;
	line-height: 1.5;
	padding-top: 44px;
	padding-right: auto;
	padding-bottom: 35px;
	padding-left: auto;
	margin: 0 auto;
}
.review h2{
	font-size: 21px;
	line-height: 26px;
}
.review p{
	color: #333333;
	font-size: 14px;
	line-height: 26px;
}
.features{
	display: flex;
	align-items: flex-start;
}
.features-item{
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	min-height: 256px;
	background-color: #81b3d2;
	padding-top: 30px;
	text-transform: uppercase;
	line-height: 21px;
}
.features-item span{
	color: #fff;
	font-size: 14px;
	padding: 8px;
}
.features-item p{
	color: #fff;
	font-size: 14px;
}
.features-blue h2{
	color: #fff;
	font-size: 21px;
	line-height: 21px;
}
.features-gray{
	background-color: #eee;
}
.features-gray h2{
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
	color: #000;
}
.features-gray span{
	color: #333333;
}
.features-gray p{
	color: #333333;
}
.features-image{
	display: flex;
	width: 800px;
}
.promo{
	display: flex;
	align-items: flex-start;
	height: 330px;
}
.promo-item{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 400px;
	flex-direction: column;
	padding: 20px 20px;
	text-transform: uppercase;
	margin-top: 40px;
	line-height: 1.5;
	font-weight: bold;
}
.promo-item h2{
	font-size: 21px;
	line-height: 1;
	padding-top: 15px; 
}
.promo-item p{
	font-weight: normal;
	font-size: 14px;
	color: #333333;
	margin-top: 5px;
}
.sprite-icon-burger {
	width: 74px;
	height: 70px;
	background-position: -245px -7px;
}
.sprite-icon-gift {
	width: 64px;
	height: 76px;
	background-position: -134px -147px;
}
.sprite-icon-house {
	width: 75px;
	height: 72px;
	background-position: -212px -163px;
}
.review-choose{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-direction: column;
	text-transform: uppercase;
	text-align: center;
	width: 568px;
	height: 290px;
	margin: auto;
}
.review-choose h3{
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 0px;
	padding-top: 27px;
	padding-bottom: 15px;
}
.review-choose p{
	padding-bottom: 33px;
	line-height: 24px;
	font-size: 14px;
	color: #333333;
	line-height: 24px;
}
.search a{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 568px;
	height: 87px;
	margin-top: 35px;
	margin-bottom: 0;
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}
.form-choose{
	background-image: url(../img/map1.png);
	position: relative;
	height: 595px;
}
.form-choose iframe{
	width: 1200px;
	height: 595px;
}
.choose-hotels{
	display: none;
	margin-bottom: 50px;
	position: absolute;
	top: 0;
	left: 50%;
}
.choose-hotels label{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
.choose-hotels-wow{
	display:block;
	-webkit-animation-name: search-open-move;
	animation-name: search-open-move;
	-webkit-animation-duration: 0.9s;
	animation-duration: 0.9s;
}
.choose-hotels-details{
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: space-around;
	align-items: center;
	left: 50%;
	width: 568px;
	transform: translateX(-50%);
	background-color: #ffffff;
	font-family: "PT Sans", sans-serif;
}
.form-choose label {
	margin-right: 20px;
	padding-top: 5px;
}
.choose-hotels-details input{
	vertical-align: center;
	line-height: 32px;
	font-weight: bold;
}
.date-in {
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
	flex-direction: row;
	position: relative;
	max-width: 460px;
	margin-top: 54px;
}
.date-in label {
	line-height: 32px;
	min-width: 95px;
	font-size: 14px;
	font-weight: bold;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
}
.date-in input {
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
	width: 330px;
	min-width: 150px;
	max-width: 329px;
	height: 33px;
	padding-left: 15px;
}
.date-in input:hover {
	border: 2px solid #ebebeb;
	background-color: #ebebeb;
}
.date-in input:active {
	border: 2px solid #ebebeb;
	background-color: #ffffff;
}
.date-out {
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
	flex-direction: row;
	position: relative;
	max-width: 460px;
	margin-top: 54px;
}
.date-out label {
	line-height: 32px;
	min-width: 95px;
	font-size: 14px;
	font-weight: bold;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
}
.date-out input {
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
	width: 330px;
	min-width: 150px;
	max-width: 329px;
	height: 33px;
	padding-left: 15px;
}
.date-out input:hover {
	border: 2px solid #ebebeb;
	background-color: #ebebeb;
}
.date-out input:active {
	border: 2px solid #ebebeb;
	background-color: #ffffff;
}
.sprite-icon-calendar {
	width: 21px;
	height: 22px;
	background-position: -261px -91px;
}
.sprite-icon-calendar-down:active {
	width: 21px;
	height: 22px;
	background-position: -296px -91px;
}
.sprite-icon-calendar-hvr:hover {
	width: 21px;
	height: 22px;
	background-position: -261px -127px;
}
.people {
	display: flex;
	flex-direction: row;
	width: 460px;
	margin-top: 30px;
}
.people input {
	text-align: center;
	height: 32px;
	line-height: 1;
	padding-left: 0;
	border: 2px solid #f2f2f2;
}
.people button{
	border: none;
	width: 38px;
	height: 38px;
	color: #a9a9a9;
	border: none;
	outline:none;
	background-color: #f2f2f2;
}
.adult {
	display: flex;
	flex-direction: row;
	width: 230px;
}
.adult label{
	margin:0;
	width: 95px;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
}
.adult input{
	width: 34px;
	height: 38px;
	background: #f2f2f2;
}
.children {
	display: flex;
	flex-direction: row;
	width: 230px;
}
.children label{
	margin:0;
	width: 95px;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
}
.children input{
	width: 34px;
	height: 38px;
	background: #f2f2f2;
}
.minus {
	font-size: 24px;
	font-weight: bold;
}
.minus:hover {
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
.minus:active {
	font-size: 24px;
	font-weight: bold;
	color: #81b3d2;
}
.plus {
	font-size: 24px;
	font-weight: bold;
}
.plus:hover {
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
.plus:active {
	font-size: 24px;
	font-weight: bold;
	color: #81b3d2;
}
.find-hotels {
	color: #ffffff;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 460px;
	height: 58px;
	margin-top: 53px;
	margin-bottom: 55px;
	text-transform: uppercase;
}
.find-hotels:hover {
	color: #ffffff;
	background: #669ec0;
}
.find-hotels:active {
	color: #88b6d1;
	background: #5496bd;
}
.main-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 1200px;
	height: 123px;
}
.footer-visit{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 400px;
}
.footer-visit a{
	color: #000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.footer-copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 400px;
	font-size: 0;
}
.footer-copyright a{
	color: #000;
	font-size: 14px;
	line-height: 26px;
	padding-right: 40px;
}
.sprite-ha {
	width: 113px;
	height: 39px;
	background-position: -7px -94px;
}
.sprite-ha-down:active {
	width: 113px;
	height: 39px;
	background-position: -134px -94px;
}
.sprite-ha-hvr:hover {
	width: 113px;
	height: 39px;
	background-position: -7px -147px;
}
.footer-social{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	margin: 0 auto;
	font-size: 0;
}
.sprite-sprite-fb {
	width: 47px;
	height: 48px;
	background-position: -190px -249px;
	margin: 5px;
}
.sprite-sprite-fb-down:active {
	width: 47px;
	height: 48px;
	background-position: -251px -249px;
	margin: 5px;
}
.sprite-sprite-fb-hvr:hover {
	width: 47px;
	height: 48px;
	background-position: -333px -7px;
	margin: 5px;
}
.sprite-sprite-tw {
	width: 46px;
	height: 48px;
	background-position: -333px -69px;
}
.sprite-sprite-tw-down:active {
	width: 46px;
	height: 48px;
	background-position: -326px -131px;
}
.sprite-sprite-tw-hvr:hover {
	width: 46px;
	height: 48px;
	background-position: -327px -193px;
}
.sprite-sprite-yt {
	width: 46px;
	height: 48px;
	background-position: -7px -255px;
}
.sprite-sprite-yt-down:active {
	width: 46px;
	height: 48px;
	background-position: -312px -255px;
}
.sprite-sprite-yt-hvr:hover {
	width: 46px;
	height: 48px;
	background-position: -7px -317px;
}
.form-filter {
	display: flex;
	color: #ffffff;
	background-color: #487596;
	background-image: url(../img/background2.jpg);
	padding-top: 15px;
	padding-bottom: 9px;
}
.form-filter h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 25px;
}
.infra {
	display: flex;
	color: #ffffff;
	flex-direction: column;
	text-transform: uppercase;
	padding-left: 72px;
	width: 325px;
	font-size: 14px;
	line-height: 21px;
}
.set-form {
	display: flex;
	align-self: baseline;
}
.home-type {
	display: flex;
	flex-direction: column;
	width: 475px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]+label{
	display: block;
	margin-bottom: 25px;
	line-height: 20px;
	padding-left: 45px;
	position: relative;
	cursor: pointer;
}
input[type="checkbox"]+label::before{
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
  width: 22px;
	height: 22px;
	background-position: -7px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"]:checked+label::after{
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
  width: 26px;
	height: 22px;
	background-position: -79px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"]:disabled + label:before {
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	background-position: -43px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"]:disabled:checked + label:after {
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
	width: 26px;
	height: 22px;
	background-position: -119px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
.filter-range {
  width: 328px;
	padding-top: 11px;
  text-transform: uppercase;
  color: #ffffff;
}
.filter-range-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
	font-size: 0; 
}
.price-controls::after {
  position: absolute;
	top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  content: "";
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.price-controls label {
  cursor: pointer;
  font-size: 14px;
  line-height: 33px;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  height: 33px;
  margin: 0;
  padding-bottom: 15px;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  font: inherit;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
	position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  background: transparent;
  font-size: 14px;
  line-height: 20px;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.sorting{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fefefe;
	height: 82px;
	border: 1px #e5e5e5 solid;
}
.sorting-find{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 165px;
	margin-left: 72px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.sorting-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 781px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
.sorting-item .active{
	color: #81b3d2;
	border-bottom: 0; 
}
.sorting-item a:hover{
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}
.sorting-item a:active{
	color: #000000;
	border-bottom: 0;
}
.sorting-item span{
	padding-right: 10px;
}
.sorting-item ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 650px;
}
.sorting-item li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	width: 120px;
	text-align: center;
}
.sorting-item ul a{
	margin-right: 30px;
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	font-size: 12px;
	line-height: 18px;
}
.sorting-change{
	display: flex;
	justify-content: center;
	width: 110px;
	margin: 0 auto;
}
.sprite-icon-indicator1gr {
	width: 11px;
	height: 10px;
	background-position: -301px -151px;
	padding-right: 25px;
}
.sprite-icon-indicator1hvr:hover {
	width: 11px;
	height: 10px;
	background-position: -301px -175px;
	padding-right: 25px;
}
.sprite-icon-indicator1down:active {
	width: 11px;
	height: 10px;
	background-position: -296px -127px;
	padding-right: 25px;
}
.sprite-icon-indicator2hvr:hover {
	width: 11px;
	height: 10px;
	background-position: -32px -223px;
}
.sprite-icon-indicator2down {
	width: 11px;
	height: 10px;
	background-position: -301px -199px;
}
.hotel{
	height: 450px;
}
.catalog-hotel{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 1200px;
	height: 150px;
	padding: 30px 72px;
	border: 1px #e5e5e5 solid;
	border-top: #fff;
}
.catalog-image{
	width: 165px;
	height: 90px;
}
.catalog{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 750px;
	height: 90px;
	text-transform: uppercase;
	font-size: 14px;
}
.catalog h1{
	height: 25px;
	width: 100%;
	margin: 0;
	color: #000;
	font-size: 21px;
}
.catalog h1 a{
	color: #000;
	text-align: top;
}
.catalog h1 a:hover{
	color: #81b3d2;
}
.catalog h1 a:active{
	color: #b2b2b2;
}
.rating{
	width: 110px;
	height: 90px;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	color: #666666;
}
.rating-text{
	background: #f2f2f2;
	width: 105px;
	height: 30px
} 
.raiting-sprite{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.sprite-icon-star {
	width: 18px;
	height: 17px;
	background-position: -57px -223px;
}
.catalog-item-hotel{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 55px;
	margin-top: 5px;
	color: #5c5c5c;
}
.catalog-item-hotel a{
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	width: 110px;
	height: 35px;
	background: #81b3d2;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	padding-top: 5px;
}
.catalog-item-hotel a:hover{
	background: #669ec0;
}
.catalog-item-hotel a:active{
	color: #88b6d1;
	background: #5496bd;
}
.catalog-item-cost{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 55px;
	margin-top: 5px;
	color: #5c5c5c;
}
.catalog-item-cost a{
	text-align: center;
	margin-top: 10px;
	width: 140px;
	height: 35px;
	background: #766357;
	color: #fff;
	padding-top: 5px;
	font-weight: bold;
	font-size: 13px;
}
.catalog-item-cost a:hover{
	background: #604e43;
}

.catalog-item-cost a:active{
	color: #857871;
	background: #503e33;
}