*{
	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
						box-sizing: border-box;
}
@font-face {
    font-family: "PTSansRegular";
    src:url("../fonts/PTSansRegular.woff") format("woff"),
    font-style: normal;
    font-weight: normal;
}
a {
	text-decoration: none;
}
img {
	max-width:100%;
	height:auto;
}
h2 {
	color: #000000;

	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}
h3 {
	color: #000000;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}
li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
body {
	width: 100%;
	font-family: "PT Sans", "Arial" sans-serif;
	padding: 0 35px;
}
header{
	position: relative;
}
.sprite {
	background-image: url(../img/icon/sprite.png);
	background-repeat: no-repeat;
	display: block;
}
.sprite-check1 {
	width: 22px;
	height: 22px;
	background-position: -7px -7px;
}
.sprite-check1-dis {
	width: 22px;
	height: 22px;
	background-position: -43px -7px;
}
.sprite-check2 {
	width: 26px;
	height: 22px;
	background-position: -79px -7px;
}
.sprite-check2-dis {
	width: 26px;
	height: 22px;
	background-position: -119px -7px;
}
.sprite-circle1 {
	width: 20px;
	height: 23px;
	background-position: -159px -7px;
}
.sprite-circle2 {
	width: 20px;
	height: 23px;
	background-position: -193px -7px;
}
.sprite-circuit {
	width: 224px;
	height: 36px;
	background-position: -7px -44px;
}
.sprite-ha {
	width: 113px;
	height: 39px;
	background-position: -7px -94px;
}
.sprite-ha-down {
	width: 113px;
	height: 39px;
	background-position: -134px -94px;
}
.sprite-ha-hvr {
	width: 113px;
	height: 39px;
	background-position: -7px -147px;
}
.sprite-icon-burger {
	width: 74px;
	height: 70px;
	background-position: -245px -7px;
}
.sprite-icon-calendar {
	width: 21px;
	height: 22px;
	background-position: -261px -91px;
}
.sprite-icon-calendar-down {
	width: 21px;
	height: 22px;
	background-position: -296px -91px;
}
.sprite-icon-calendar-hvr {
	width: 21px;
	height: 22px;
	background-position: -261px -127px;
}
.sprite-icon-gift {
	width: 64px;
	height: 76px;
	background-position: -134px -147px;
}
.sprite-icon-house {
	width: 75px;
	height: 72px;
	background-position: -212px -163px;
}
.sprite-icon-indicator1down {
	width: 11px;
	height: 10px;
	background-position: -296px -127px;
}
.sprite-icon-indicator1gr {
	width: 11px;
	height: 10px;
	background-position: -301px -151px;
}
.sprite-icon-indicator1hvr {
	width: 11px;
	height: 10px;
	background-position: -301px -175px;
}
.sprite-icon-indicator2down {
	width: 11px;
	height: 10px;
	background-position: -301px -199px;
}
.sprite-icon-indicator2gr {
	width: 11px;
	height: 10px;
	background-position: -7px -223px;
}
.sprite-icon-indicator2hvr {
	width: 11px;
	height: 10px;
	background-position: -32px -223px;
}
.sprite-icon-star {
	width: 18px;
	height: 17px;
	background-position: -57px -223px;
}
.sprite-minus {
	width: 12px;
	height: 3px;
	background-position: -89px -223px;
}
.sprite-minus-down {
	width: 12px;
	height: 3px;
	background-position: -301px -223px;
}
.sprite-minus-hvr {
	width: 12px;
	height: 3px;
	background-position: -89px -240px;
}
.sprite-plus {
	width: 11px;
	height: 11px;
	background-position: -115px -240px;
}
.sprite-plus-down {
	width: 11px;
	height: 11px;
	background-position: -140px -240px;
}
.sprite-plus-hvr {
	width: 11px;
	height: 11px;
	background-position: -165px -240px;
}
.sprite-sprite-fb {
	width: 47px;
	height: 48px;
	background-position: -190px -249px;
}
.sprite-sprite-fb-down {
	width: 47px;
	height: 48px;
	background-position: -251px -249px;
}
.sprite-sprite-fb-hvr {
	width: 47px;
	height: 48px;
	background-position: -333px -7px;
}
.sprite-sprite-tw {
	width: 46px;
	height: 48px;
	background-position: -333px -69px;
}
.sprite-sprite-tw-down {
	width: 46px;
	height: 48px;
	background-position: -326px -131px;
}
.sprite-sprite-tw-hvr {
	width: 46px;
	height: 48px;
	background-position: -327px -193px;
}
.sprite-sprite-yt {
	width: 46px;
	height: 48px;
	background-position: -7px -255px;
}
.sprite-sprite-yt-down {
	width: 46px;
	height: 48px;
	background-position: -312px -255px;
}
.sprite-sprite-yt-hvr {
	width: 46px;
	height: 48px;
	background-position: -7px -317px;
}
wrapper {
	display: block;
	width: 1200px;
	margin: 0 auto;
	align-items: center;
	box-shadow:
		10px 0 15px -10px rgba(0, 0, 0, 0.2),
		-10px 0 15px -10px rgba(0, 0, 0, 0.2);
}
.main-nav{
	width: 1200px;
	height: 60px;
	background-color: #fff;
}
.main-nav ul{
	display: flex;
	font-size: 14px;
	line-height: 30px;
	justify-content: flex-start;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	list-style-type: none;
	margin-top: 0;
}
.menu {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
}
.menu li {
	box-sizing: border-box;
	width: 240px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}
.menu li:nth-child(4n) {
	padding-right: 72px;
	text-align: right;
}
.menu li:nth-child(2){
	margin-right:240px;
}
.menu li:nth-child(6){
	margin-right:240px;
}
.menu li:nth-child(10){
	margin-right:240px;
}
.menu a {
	color: #000000;
}
.menu a:hover {
	color: #81b3d2;
}
.menu a:active {
	opacity: 0.3;
	color: #000000;
}
.menu-active a {
	color: #766357;
}
.menu-active a:hover {
	color: #604e43;
}
.menu-active a:active {
	opacity: 0.3;
	color: #766357;
}
.logo{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
}
.background{
	background-image: url(../img/background.jpg);
	width: 1200px;
	height: 510px;
}
.on-background{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 75px;
	margin-bottom: 28px;
}
.after-background{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.review{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 550px;
	min-height: 100px;
	margin: 20px auto;
	padding: 20px;
	text-transform: uppercase;
	line-height: 1.5;
}
.review h2{
	font-size: 21px;
	line-height: 26px;
}
.review p{
	color: #333333;
	font-size: 14px;
	line-height: 26px;
}
.features{
	display: flex;
	align-items: flex-start;
}
.features-item{
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	min-height: 256px;
	background-color: #81b3d2;
	padding-top: 32px;
	text-transform: uppercase;
	line-height: 21px;
}
.features-item span{
	color: #fff;
	font-size: 14px;
	padding: 8px;
}
.features-item p{
	color: #fff;
	font-size: 14px;
}
.features-blue h2{
	color: #fff;
	font-size: 21px;
	line-height: 21px;
}
.features-gray{
	background-color: #eee;
}
.features-gray h2{
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
	color: #000;
}
.features-gray span{
	color: #333333;
}
.features-gray p{
	color: #333333;
}
.features-image{
	display: flex;
	width: 800px;
}
.promo{
	display: flex;
	align-items: flex-start;
	height: 330px;
}
.promo-item{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 400px;
	flex-direction: column;
	padding: 20px 20px;
	text-transform: uppercase;
	margin-top: 40px;
	line-height: 1.5;
	font-weight: bold;
}
.promo-item h2{
	font-size: 21px;
	line-height: 1;
	padding-top: 15px; 
}
.promo-item p{
	font-weight: normal;
	font-size: 14px;
	color: #333333;
	margin-top: 5px;
}
.sprite-icon-burger {
	width: 74px;
	height: 70px;
	background-position: -245px -7px;
}
.sprite-icon-gift {
	width: 64px;
	height: 76px;
	background-position: -134px -147px;
}
.sprite-icon-house {
	width: 75px;
	height: 72px;
	background-position: -212px -163px;
}
.choose-hotel{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-direction: column;
	text-transform: uppercase;
	text-align: center;
	width: 568px;
	margin: auto;
}
.choose-hotel a{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 568px;
	height: 85px;
	margin: 30px auto;
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}
.choose-hotel h3{
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 0px;
	padding-top: 27px;
	padding-bottom: 15px;
}
.choose-hotel p{
	padding-bottom: 33px;
	line-height: 24px;
	font-size: 14px;
	color: #333333;
	line-height: 24px;
}
/* Переделывать форму полностью
.form{
	margin: 55px;
}
.form-label{
	display: flex;
	width: 115px;
	font-size: 14px;
	line-height: 41px;
	align-items: center;
	justify-content: center;
}
.form-input{
	display: flex;
	align-items: center;
	justify-content: center;	
}
*/

.main-footer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100px;
	text-align: center;
	text-transform: uppercase;
}
.map{
	position: relative;
	height: 593px;
	width: 100%;
}
.footer-visit{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 400px;
}
.footer-social{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	margin: 0 auto;
	font-size: 0;
}
.footer-copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 400px;
	font-size: 0;
}
.footer-copyright a{
	padding-right: 40px;
}
.footer-visit a{
	color: #000;
	font-weight: bold;
	font-size: 21px;
}
.footer-copyright a{
	color: #000;
}
.sprite-ha {
	width: 113px;
	height: 39px;
	background-position: -7px -94px;
}
.sprite-ha-down:active {
	width: 113px;
	height: 39px;
	background-position: -134px -94px;
}
.sprite-ha-hvr:hover {
	width: 113px;
	height: 39px;
	background-position: -7px -147px;
}
.sprite-sprite-fb {
	width: 47px;
	height: 48px;
	background-position: -190px -249px;
}
.sprite-sprite-fb-down:active {
	width: 47px;
	height: 48px;
	background-position: -251px -249px;
}
.sprite-sprite-fb-hvr:hover {
	width: 47px;
	height: 48px;
	background-position: -333px -7px;
}
.sprite-sprite-tw {
	width: 46px;
	height: 48px;
	background-position: -333px -69px;
}
.sprite-sprite-tw-down:active {
	width: 46px;
	height: 48px;
	background-position: -326px -131px;
}
.sprite-sprite-tw-hvr:hover {
	width: 46px;
	height: 48px;
	background-position: -327px -193px;
}
.sprite-sprite-yt {
	width: 46px;
	height: 48px;
	background-position: -7px -255px;
}
.sprite-sprite-yt-down:active {
	width: 46px;
	height: 48px;
	background-position: -312px -255px;
}
.sprite-sprite-yt-hvr:hover {
	width: 46px;
	height: 48px;
	background-position: -7px -317px;
}
.form-filter {
	display: flex;
	color: #ffffff;
	background-color: #487596;
	background-image: url(../img/background2.jpg);
	padding-top: 15px;
	padding-bottom: 9px;
}
.form-filter h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 25px;
}
.infra {
	display: flex;
	color: #ffffff;
	flex-direction: column;
	text-transform: uppercase;
	padding-left: 72px;
	width: 270px;
	font-size: 14px;
	line-height: 21px;
}
.set-form {
	display: flex;
	align-self: baseline;
}
.home-type {
	display: flex;
	flex-direction: column;
	width: 475px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]+label{
	display: block;
	margin-bottom: 25px;
	line-height: 20px;
	padding-left: 45px;
	position: relative;
	cursor: pointer;
}
input[type="checkbox"]+label::before{
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
  width: 22px;
	height: 22px;
	background-position: -7px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"]:checked+label::after{
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
  width: 26px;
	height: 22px;
	background-position: -79px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"]:disabled + label:before {
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	background-position: -43px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"]:disabled:checked + label:after {
	content: "";
	background-image: url(../img/icon/sprite.png);
  background-repeat: no-repeat;
	width: 26px;
	height: 22px;
	background-position: -119px -7px;
	position: absolute;
	top: 0;
	left: 0;
}
.set-cost {
  width: 325px;
  text-transform: uppercase;
  color: #ffffff;
}
.set-cost h2{
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
}
.cost{
	width: 325px;
	color: #ffffff;
  text-transform: uppercase;
}
.cost {
  position: relative;
  height: 35px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
	font-size: 0; 
}
.cost::after {
	content: "";
  position: absolute;
	top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.cost label {
  display: inline;
  font-size: 14px;
  line-height: 30px;
  padding-right: 20px;
  cursor: pointer;
}
.cost .min,
.cost .max {
  width: 100px;
  padding-left: 60px;
}
.cost input {
  width: 50px;
  color: #ffffff;
  height: 33px;
  border: none;
  outline: none;
  background: none;
}
.cost-change{
	margin-bottom: 50px;
}
.line {
  position: absolute;
  display: inline-block;
  width: 310px;
  height: 2px;
  background-color: #978481;
  z-index: 1;
}
.progress {
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  width: 256px;
  height: 2px;
  z-index: 2;
}
.sprite-circle1 {
	width: 20px;
	height: 23px;
	background-position: -159px -7px;
	position: absolute;
  margin-top: -11px;
  margin-left: 0px;
  z-index: 3;
}
.sprite-circle2 {
	width: 20px;
	height: 23px;
	background-position: -193px -7px;
	position: absolute;
	left: 70%;
  margin-top: -11px;
  z-index: 3;
}
.set-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 133px;
  height: 35px;
  background: transparent;
}
.set-btn:hover {
  color: #000000;
  background: #ffffff;
}
.sorting{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fefefe;
	height: 82px;
	border: 1px #e5e5e5 solid;
}
.sorting-find{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 165px;
	margin-left: 72px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.sorting-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 781px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
.sorting-item .active{
	color: #81b3d2;
	border-bottom: 0; 
}
.sorting-item a:hover{
	color: #81b3d2;
}
.sorting-item a:active{
	color: #000000;
}
.sorting-item span{
	padding-right: 10px;
}
.sorting-item ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 650px;
}
.sorting-item li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	width: 120px;
	text-align: center;
}
.sorting-item ul a{
	margin-right: 30px;
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	font-size: 12px;
	line-height: 18px;
}
.sorting-change{
	width: 110px;
}
.sorting-change span:first-child{
	padding-right: 20px;
}
.sprite-icon-indicator1 {
  width: 11px;
  height: 10px;
  background-position: -1072px -5px;
}
.sprite-icon-indicator2 {
  width: 11px;
  height: 10px;
  background-position: -1093px -5px;
}
.hotel{
	height: 450px;
}
.catalog-hotel{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 1200px;
	height: 150px;
	padding: 30px 72px;
	border: 1px #e5e5e5 solid;
	border-top: #fff;
}
.catalog-image{
	width: 165px;
	height: 90px;
}
.catalog{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 750px;
	height: 90px;
	text-transform: uppercase;
	font-size: 14px;
}
.catalog h1{
	height: 25px;
	width: 100%;
	margin: 0;
	color: #000;
	font-size: 21px;
}
.catalog h1 a{
	color: #000;
	text-align: top;
}
.catalog h1 a:hover{
	color: #81b3d2;
}
.catalog h1 a:active{
	color: #b2b2b2;
}
.rating{
	width: 110px;
	height: 90px;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	color: #666666;
}
.rating-text{
	background: #f2f2f2;
	width: 105px;
	height: 30px
} 
.raiting-sprite{
	margin-bottom: 40px;
}
.sprite-icon-star::before {
	width: 18px;
	height: 17px;
	background-position: -1114px -5px;
}
.catalog-item-hotel{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 55px;
	margin-top: 5px;
	color: #5c5c5c;
}
.catalog-item-hotel a{
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	width: 110px;
	height: 35px;
	background: #81b3d2;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	padding-top: 5px;
}
.catalog-item-hotel a:hover{
	background: #669ec0;
}
.catalog-item-hotel a:active{
	color: #88b6d1;
	background: #5496bd;
}
.catalog-item-cost{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 55px;
	margin-top: 5px;
	color: #5c5c5c;
}
.catalog-item-cost a{
	text-align: center;
	margin-top: 10px;
	width: 140px;
	height: 35px;
	background: #766357;
	color: #fff;
	padding-top: 5px;
	font-weight: bold;
	font-size: 13px;
}
.catalog-item-cost a:hover{
	background: #604e43;
}

.catalog-item-cost a:active{
	color: #857871;
	background: #503e33;
}